pandas
scikit-learn
tensorflow
numpy<2
matplotlib
tools
opencv-contrib-python-headless
pytesseract
requests
gym
stable-baselines3==2.4.0
gymnasium
mplfinance
statsmodels
pmdarima
TA-Lib
selenium
webdriver-manager
spacy
transformers
tf-keras
pyspellchecker
seaborn
telethon
firebase_admin
openai==1.42.0
ccxt
ccxtpro
shimmy>=0.2.1
gymnasium[extra]
